
#login{
  background-color: #eff3f8;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}


.containerLogin {
  margin-top: 6px;
  width: 98vw;
  height: 58vh;
  display: flex;
  background-color: #fff;
  border-radius: 15px;
}
.imgLogin {
  width:55%;
}
.formLogin {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  //background-color: lime;
}
.title{
  margin-left: 40px;
}

.inputs{
  width: 130% !important;
}

.img-logo{
  height: 50px;
}
@media (max-width: 700px) {
  .imgscreem {
    visibility: hidden !important;
    width: 0vw !important;
  }
  .formLogin {
    width: 100vw !important;
    margin-right: 10vw !important;
    margin-left: 10vw !important;
  }
  .field {
    margin-bottom: 10px !important;
    width: 80vw;
  }

  .inputs{
    width: 100% !important;
  }
}


.img-login{
  background-image: url('./background.png');
  clip-path: polygon(8% 0px, 100% 0%, 100% 100%, 0px 100%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 95%;
  width: 90%;  
}