.switchHeader{
    padding-top: 6px;
}
.nameHeader{
    padding-top: 4px;
    margin: 0 20px;
    font-weight: 700;
}

.img-login{
    background-image: url('./background1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 95%;
    width: 100%;  
  }

