
.flex-container{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.layout-sidebar{
    animation-duration: 2s !important;
    width: 100vw;
}

.layout-expand{
    visibility: hidden;
    width: -0vw !important;
}

.expand-menu{
    width: 120vw !important;
    margin-left: -22vw !important;
}


@media (min-width:1550px){
    .expand-menu{
        width: 120vw !important;
        margin-left: -17vw !important;
    }
    
}



